# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Global settings (applicable to all files unless overridden)
[*]
charset = utf-8 # Default character encoding
end_of_line = lf # Use LF for line endings (Unix-style)
indent_style = space # Use spaces for indentation
indent_size = 4 # Default indentation size
insert_final_newline = true # Make sure files end with a newline
trim_trailing_whitespace = true # Remove trailing whitespace

# Python specific settings, complying with PEP 8 style guide, except for the line length
[*.py]
max_line_length = 100

# Markdown files
[*.md]
trim_trailing_whitespace = false # Don't remove trailing whitespace in Markdown files
max_line_length = 120

# YAML files
[*.{yaml,yml}]
indent_size = 2

# Shell scripts
[*.sh]
indent_size = 2
indent_style = tab